header {
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 240, 241);
    height: 70px;
}

header>h2 {
    margin-left: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(149, 165, 166);
}

li {
    float: right;
    margin-right: 20px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(236, 240, 241);
}